# Gradle & Build
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Secrets & Credentials (CLIENT CONFIDENTIAL)
google-services.json
*.jks
*.keystore
*.p12
*.pem
secrets.properties

# Release Artifacts
*.apk
*.aab
/release/
/app/release/

# IDE & OS temporary
.artifacts/
.kotlin/

